html {
    font-size: 62.5%;
}

:root {
    --minfontratio: 16/18;
    --basewindowsize: calc(1920*1);
    --vwratio: calc(100vw/var(--basewindowsize));

    --backgroundcolor: antiquewhite;
    --fontcolor: #051428;

    --ftitle: 8vw;

    --ftext: clamp(calc(1.8rem*var(--minfontratio)), calc(18*var(--vwratio)), calc(18*var(--vwratio)));
    --fbig: calc(var(--ftext)*10/1.8);
    --fmiddle: calc(var(--ftext)*7/1.8);
    --fsmall: calc(var(--ftext)*3/1.8);

    --borderweight: .3rem;
    --textborderweight: .15rem;

    --sidebuttonsize: calc(var(--ftext)*6/1.8);
    --cardwidth: calc(var(--ftext)*38/1.8);
    --buttonheight: calc(var(--ftext)*5/1.8);
    --cardshadowsize: calc(var(--cardwidth)*6/100);
    --footersize: 20vh;

    --sectionmarginsize: calc(var(--ftext)*12/1.8);
    --cardpaddingsize: calc(var(--ftext)*1);
    --cardmarginsize: calc(var(--ftext)*3/1.8);

    --turntime: .3s;
    --letteranimetime: .3s;
    --transitiongaptime: .1s;
    --transitiontime: .4s;
    --colorchangetime: .5s;
    --openinganimetime: .6s;
}

:root[theme = "default"] {
    --backgroundcolor: antiquewhite;
    --fontcolor: #051428;
}

:root[theme = "contact"] {
    --backgroundcolor: #051428;
    --fontcolor: antiquewhite;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select:none;
}

.no-scroll {
    overflow: hidden;
}

body {
    font-family: sans-serif;
    letter-spacing: .05rem;
    line-height: 1.2;
    background-color: var(--backgroundcolor);
    color: var(--fontcolor);
    transition-timing-function: ease;
    transition: background-color var(--colorchangetime) ease, color var(--colorchangetime) ease;
}
body.active {
    background-color: var(--fontcolor);
    color: var(--backgroundcolor);
}

.mouse-hover-item {
    cursor: pointer;
}

a{
    text-decoration: none;
    color: var(--fontcolor);
}

span {
    display: block;
}

li {
    list-style-type: none;
}


/* ナビゲーションリンクリンク */
header, footer{
    & ul {
        position: absolute;
        z-index: 5;
        right: 10%;
        height: fit-content;
        display: flex;
        
        & li{
            margin-left: 2vw;
            padding: 1vh 0;
            display: flex;
            perspective: calc(var(--buttonheight)*10);

            .nv-button-wrapper {
                position: relative;
                height: var(--buttonheight);
                aspect-ratio: 3/1;
                transform-style: preserve-3d;
                font-size: var(--fsmall);
                font-weight: bold;
                transition: transform var(--transitiontime) ease;

                .nv-button-face {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    backface-visibility: hidden;
                    border: var(--borderweight) solid var(--fontcolor);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: border var(--colorchangetime) ease;

                }
                .nv-button-front {
                    transform: translateZ(calc(var(--buttonheight)/2));
                }
                .nv-button-bottom {
                    transform: translateY(calc(var(--buttonheight)/2)) rotateX(-90deg);
                }
            }

            &:hover {
                .nv-button-wrapper {
                    transform: rotateX(90deg);
                }
            }
        }
    }
} 

header {
    .hearder-wrapper {
        & ul {
            transform: translateY(-50%);
            top: calc(var(--footersize)/2);
    
            .text-animation {
                overflow: hidden;
                
                & span {
                    transform: translateY(0);
                    transition: transform var(--transitiontime) calc(var(--letteranimetime) - var(--letteranimetime)/var(--letterlength) * var(--j)) ease;
                }

                &.fade-out{
                    & span {
                        transform: translateY(-100%);
                        transition: transform 0s 0s;
                    }
                }
            }
        }

    }

    &.loading {
        .hearder-wrapper {
            & ul {
                .text-animation {
                    & span {
                        transform: translateY(100%);
                    }
                }
            }
        }
    }

    &.loaded {
        .hearder-wrapper {
            & ul {
                .text-animation {
                    & span {
                        transition: transform var(--transitiontime) calc(var(--transitiontime)*3/4 + var(--letteranimetime)/var(--letterlength) * var(--j) + var(--transitiongaptime)*var(--i)) ease;
                    }
                }
            }
        }
    }
}
footer ul {
    transform: translateY(50%);
    bottom: calc(var(--footersize)/2);
}


/* ローディング */
.loading {
    opacity: 0;
}
.loaded-anime {
    transition: opacity var(--transitiontime) ease;
}

.cover-window {
    position: fixed;
    z-index: 4;
    height: 100vh;
    width: 200vw;
    top: 0%;
    left: 100%;
    background-color: #fff;
    mix-blend-mode: difference;
    transform: translateX(-50%);
    clip-path: polygon(0% 0%, 100% 0%, 94% 100%, 0% 100%);

    &.active {
        left: -45.8%;
        transition: left var(--openinganimetime) calc(var(--openinganimetime)*2) ease;
    }

    &.loaded {
        left: -45.8%;
        transition: left 0;
    }

    &.nav-open {
        transition: left var(--transitiontime) ease;
    }
}

.loading-window {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--backgroundcolor);
    font-size: var(--fbig);
    transition: left var(--openinganimetime) calc(var(--openinganimetime)*2) ease;

    & p {
        opacity: 0;
    }

    &.active {
        left: -100%;

        & p {
            animation: loadedAnime calc(var(--openinganimetime)*2) forwards;
        }
    }
}
@keyframes loadedAnime {
    0% {opacity: 0;}
    25% {opacity: 1;}
    75% {opacity: 1;}
    100% {opacity: 0;}
}


.side-menu {
    /* ハンバーガーメニュー */
    & nav {
        position: fixed;
        z-index: 10;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 100vw;
        background-color: var(--backgroundcolor);
        clip-path: polygon(12% 0%, 100% 0%, 100% 100%, 0% 100%);
        padding: 0 44vw 0 calc(100vw*12/100);
        transition: right var(--transitiontime) ease, background-color var(--colorchangetime) ease;
        display: flex;
        justify-content: center;
        align-items: center;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: var(--fontcolor);
            clip-path: polygon(calc(12% + var(--borderweight)) 0%, 100% 0%, 100% 100%, var(--borderweight) 100%);
            transition: background-color var(--colorchangetime) ease;
        }

        & ul {
            z-index: 11;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            & li {
                position: relative;
                display: flex;
                margin: calc(var(--cardpaddingsize)/2) 0;

                & p {
                    display: flex;
                    font-size: var(--fbig);
                    font-weight: bold;
                    color: var(--backgroundcolor);
                    -webkit-text-stroke: var(--textborderweight) var(--backgroundcolor);
                    overflow: hidden;
                    transition: color var(--colorchangetime) ease, -webkit-text-stroke var(--colorchangetime) ease;

                    & span {
                        transform: translateY(100%);
                        transition: transform 0s var(--transitiontime) ease;
                    }
                }
                .cover-text {
                    position: absolute;
                    color: var(--fontcolor);
                    clip-path: inset(0);
                    transition: clip-path var(--transitiontime) ease, color var(--colorchangetime) ease, -webkit-text-stroke var(--colorchangetime) ease;
                }

                &:hover {
                    .cover-text {
                        clip-path: inset(0 0 0 100%);
                    }
                }
            }
        }
    
    }

    /* サイドボタン共通 */
    .side-button-icon {
        position: fixed;
        height: var(--sidebuttonsize);
        aspect-ratio: 1;
        perspective: calc(var(--sidebuttonsize)*10);
        transition: opacity calc(var(--transitiontime)/2) ease, top 0s calc(var(--transitiontime)/2);
        
        .side-button-icon-wrapper {
            position: relative;
            height: 100%;
            width: 100%;
            transform-style: preserve-3d;
            transform: rotateX(-90deg);
            transition: transform var(--transitiontime) ease;

            .side-button-icon-face {
                position: absolute;
                height: 100%;
                width: 100%;
                backface-visibility: hidden;
                border: var(--borderweight) solid var(--fontcolor);
                padding: 10%;
                transition: border var(--colorchangetime) ease;
            }

            .side-button-icon-top {
                background-color: var(--fontcolor);
                transform: translateY(calc(-1*var(--sidebuttonsize)/2)) rotateX(90deg);
                transition: background-color var(--colorchangetime) ease, border var(--colorchangetime);
            }

            .side-button-icon-front {
                transform: translateZ(calc(var(--sidebuttonsize)/2));
            }
            .side-button-icon-bottom {
                transform: translateY(calc(var(--sidebuttonsize)/2)) rotateX(-90deg);
            }
        }
        
        & span {
            position: absolute;
            height: var(--borderweight);
            width: 80%;
            background-color: var(--fontcolor);
            border-radius: var(--borderweight);
        }

        
        &.fade-in {
            .side-button-icon-wrapper:not(.site-top-button-icon-wrapper) {
                transform: rotateX(0);
            }

            &:hover {
                .side-button-icon-wrapper:not(.site-top-button-icon-wrapper) {
                    transform: rotateX(90deg);
                }
            }
        }
    }

    .site-top-button-detection {
        position: fixed;
        z-index: 15;
        top: calc(var(--footersize)/2);
        left: 5%;
        transform: translate(-50%, -50%);
        height: var(--sidebuttonsize);
        aspect-ratio: 1;
    }

    .site-top-button {
        z-index: 1;
        top: calc(var(--footersize)/2);
        left: 5%;
        transform: translate(-50%, -50%);
        
        .side-button-icon-wrapper {
            transform: rotateX(0);
            
            .side-button-icon-face {
                font-size: calc(var(--fsmall)*1.5);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        &.hover {
            .side-button-icon-wrapper {
                transform: rotateX(90deg);
            }
        }
    }
    
    /* ハンバーガーメニューボタン */
    .humburger-menu-icon {
        z-index: 15;
        top: calc(var(--footersize)/2);
        right: 5%;
        transform: translate(50%, -50%);

        & span {
            left: 50%;
            transform: rotateZ(0deg) translate(-50%, -50%);
            transform-origin: 0 0;
            transition: top calc(var(--transitiontime)/2) calc(var(--transitiontime)/2), transform calc(var(--transitiontime)/2) 0s, background-color var(--colorchangetime) ease;
            will-change: top, transform, width;
    
            &:nth-child(1) {top: 40%;}
            &:nth-child(2) {top: 60%;}
        }
    }
    
    /* ページトップボタン */
    .page-top-arrow {
        z-index: 15;
        top: calc(100% - var(--footersize)/2);
        right: 5%;
        transform: translate(50%, -50%);

        & span {
            bottom: 10%;
            transition: background-color var(--colorchangetime) ease;
            
            &:nth-child(1) {
                transform: rotate(-60deg);
                transform-origin: left;
            }
            &:nth-child(2) {
                transform: rotate(60deg);
                transform-origin: right;
            }
        }
    }

    &.active {
        & nav {
            right: -44%;

            & p {
                & span {
                    transform: translateY(0);
                    transition: transform var(--transitiontime) calc(var(--letteranimetime)/var(--letterlength) * var(--j) + var(--transitiontime)*3/4 + var(--transitiongaptime)*var(--i)) ease;
                }
            }
        } 

        .humburger-menu-icon {
            .side-button-icon-face {
                border: var(--borderweight) solid var(--backgroundcolor);

                & span {
                    top: 50%;
                    transition: top calc(var(--transitiontime)/2) 0s, transform calc(var(--transitiontime)/2) calc(var(--transitiontime)/2), background-color var(--colorchangetime) ease, width 0s calc(var(--transitiontime)/2);
                    background-color: var(--backgroundcolor);
        
                    &:nth-child(1) {transform: rotateZ(45deg) translate(-50%, -50%);}
                    &:nth-child(2) {transform: rotateZ(-45deg) translate(-50%, -50%);}
                }
            }
        } 

        .page-top-arrow {
                top: -100%;
                transition: top 0s var(--transitiontime);
        }
    } 
}




/* メインコンテンツ */
main {
    .main-top {
        height: 100vh;
        margin-bottom: calc(var(--sectionmarginsize)/2);

        .main-top-text {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            &.main-top-text-sp {
                display: none;
            }

            .text-animation {
                overflow: hidden;
                display: flex;
    
                & span {
                    transform: translateY(0);
                    transition: transform var(--transitiontime) calc(var(--letteranimetime) - var(--letteranimetime)/var(--letterlength) * var(--j)) ease;
                }
    
                &.fade-out{
                    & span {
                        transform: translateY(-100%);
                        transition: transform 0s 0s;
                    }
                }
            }
    
            & h1 {
                font-size: var(--ftitle);
            }
    
            & p {
                font-family: serif;
                font-weight: 900;
                font-size: var(--ftitle);
                color: var(--backgroundcolor);
                -webkit-text-stroke: var(--textborderweight) var(--fontcolor);
                transition: color var(--colorchangetime) ease, -webkit-text-stroke var(--colorchangetime) ease;
            }
        }
    }

    &.loading {
        .main-top {
            .text-animation {
                & span {
                    transform: translateY(100%);
                }
            }
        }
    }

    &.loaded {
        .main-top {
            .text-animation {
                & span {
                    transition: transform var(--transitiontime) calc(var(--transitiontime)*3/4 + var(--openinganimetime)/var(--letterlength) * var(--j) + var(--transitiongaptime)*var(--i)) ease;
                }
            }
        }
    }
}

section {
    position: relative;
    width: 100vw;
    padding: var(--sectionmarginsize) 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .main-wrapper-title {
        display: flex;
        flex-direction: column;
        align-items: center;

        .text-animation {
            height: fit-content;
            overflow: hidden;
            display: flex;

            & span {
                transform: translateY(100%);
                transition: transform 0s ease;
            }

            &.fade-in {
                & span {
                    transform: translateY(0);
                    transition: transform var(--transitiontime) calc(var(--letteranimetime)/var(--letterlength)*var(--j)) ease;
                }
            }
        }

        & h2 {
            font-size: var(--fbig);
            font-weight: bold;
        }

        & p {
            font-size: var(--fsmall);
        }
    }
}

/* セクションライン */
.section-line {
    position: absolute;
    top: calc(-1*var(--borderweight));
    height: var(--borderweight);
    width: 0vw;
    background-color: var(--fontcolor);
    border: none;
    border-radius: var(--borderweight);
    transition: background-color var(--colorchangetime) ease,  width 0s;

    &.fade-in {
        width: 80vw;
        transition: background-color var(--colorchangetime) ease, width var(--transitiontime) ease;
    }
}



/* スクロールアイコン */
.scrolldown{
	position:absolute;
	left:50%;
	bottom:10%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    font-size: var(--ftext);

    &::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: var(--borderweight);
        background-color: var(--fontcolor);
        border-radius: var(--borderweight);
        animation: pathmove 1.4s ease infinite;
    }
}
@keyframes pathmove{
	0%{
		height:0;
		top:100%;
		opacity: 0;
	}
	50%{
		height: 5rem;
		opacity: 1;
        top: calc(100% + 2rem);
	}
	100%{
		height:0;
		opacity: 0;
        top: calc(100% + 7rem);
	}
}



/* カード共通スタイル */
.card-button-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--sectionmarginsize);
    perspective: 1920px;
}
.card-button {
    position: relative;
    width: var(--cardwidth);
    aspect-ratio: 1/1.45;
    margin: 0 var(--cardmarginsize);
    display: flex;
    transform: translateY(calc(var(--cardwidth)/2)) scale(.85) rotateX(-45deg);
    transform-origin: top;
    transition: transform 0s 0s ease;
    will-change: transform;

    .card-button-face-wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        perspective: 1980px;
        opacity: 0;
        transition: opacity 0s ease;

        .card-button-face {
            position: absolute;
            height: 100%;
            border: var(--borderweight) solid var(--fontcolor);
            background-color: var(--backgroundcolor);
            color: var(--fontcolor);
            backface-visibility: hidden;
            overflow: hidden;
        }
    }

    &.fade-in {
        transform: translateY(0) scale(1) rotateX(0);
        transition: transform var(--transitiontime) calc(var(--i)*var(--transitiongaptime)) ease;
    
        .card-button-face-wrapper {
            opacity: 1;
            transition: opacity var(--transitiontime) calc(var(--i)*var(--transitiongaptime)) ease;
        }
    }
}




/* worksエリア */
.works-card-button {
    .card-button-face {
        width: 100%;
        padding: var(--cardpaddingsize);
        box-shadow: 0 0 var(--fontcolor);
        transition: transform var(--transitiontime) ease, box-shadow var(--transitiontime) ease, background-color var(--colorchangetime) ease, color var(--colorchangetime) ease, border var(--colorchangetime) ease;
        display: flex;
        flex-direction: column;
        align-items: center;

        .works-card-item {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: calc(var(--cardpaddingsize)/2);
        }
        
        .works-card-image {
            position: relative;
            width: 100%;
            aspect-ratio: 4/3;
            margin-bottom: var(--cardpaddingsize);
            border: var(--borderweight) solid var(--fontcolor);
            box-shadow: inset calc(var(--cardshadowsize)/2) calc(var(--cardshadowsize)/2) var(--fontcolor);
            transition: border var(--colorchangetime) ease, box-shadow var(--colorchangetime) ease;
            
            &::after {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                right: 0;
                background-color: var(--fontcolor);
                transition: width 0s 0s;
            }
        }

        .text-animation {
            display: flex;
            overflow: hidden;

            & span {
                transform: translateY(100%);
                transition: transform 0s 0s;
            }
        }

        .works-card-icon {
            font-size: var(--fmiddle);

            .icon-wrapper {
                display: flex;
                overflow: hidden;
            }

            & ion-icon {
                transform: translateY(100%);
                transition: transform 0s 0s;
                will-change: transform;
            }
        }

        .works-card-title {
            position: relative;
            flex-direction: column;

            & h3, & p {
                font-size: var(--fmiddle);
                font-weight: bold;
                white-space: nowrap;
                -webkit-text-stroke: var(--textborderweight) var(--fontcolor);
                transition: -webkit-text-stroke var(--colorchangetime) ease;
            }
            .cover-text {
                position: absolute;
                color: var(--backgroundcolor);
                clip-path: inset(0);
                transition: clip-path var(--transitiontime) ease, -webkit-text-stroke var(--colorchangetime) ease, color var(--colorchangetime) ease;
            }
        }

        .works-card-text {
            flex-direction: column;
            font-size: var(--ftext);
            line-height: 1.8;
        }

        &.hover-anime {
            box-shadow: var(--cardshadowsize) var(--cardshadowsize) var(--fontcolor);
            transition: transform 0s ease, box-shadow var(--transitiontime) ease, background-color var(--colorchangetime) ease, color var(--colorchangetime) ease, border var(--colorchangetime) ease;

            .works-card-title {
                .cover-text {
                    clip-path: inset(0 0 0 100%);
                }
            }
        }
    }

    &.fade-in {
        .card-button-face {
            .works-card-image {
                &::after {
                    width: 0%;
                    transition: width var(--transitiontime) calc(var(--transitiontime)*3/4 + var(--transitiongaptime)*var(--i)) ease;
                }
            }

            .text-animation {
                & span {
                    transform: translateY(0);
                    transition: transform var(--transitiontime) calc(var(--letteranimetime)/var(--letterlength)*var(--j) + var(--transitiontime)*3/4 + var(--transitiongaptime)*var(--i)) ease;
                }
            }

            .works-card-icon {
                & ion-icon {
                    transform: translateY(0);
                    transition: transform var(--transitiontime) calc(var(--transitiontime)*3/4 + var(--transitiongaptime)*var(--i)) ease;
                }
            }
        }
    }

    .card-button-outer:hover {
        & h3::after {
            clip-path: inset(0 0 0 100%);
        }
    }
}



/* 自己紹介 */
.about-card-button {
    .card-button-outer {
        width: 230%;
        font-size: var(--ftext);
        display: flex;
        white-space: nowrap;

        .text-animation {
            display: flex;
            overflow: hidden;

            & span {
                transform: translateY(100%);
                transition: transform 0s 0s;
            }
        }

        .text-animation-hover {
            & span {
                transition: transform var(--transitiontime) 0s ease;
            }
        }
    }

    &.fade-in {
        .card-button-outer {
            box-shadow: 0 0 var(--fontcolor);
            transition: transform var(--transitiontime) ease, box-shadow var(--transitiontime) ease, background-color var(--colorchangetime) ease, border var(--colorchangetime) ease;

            .text-animation:not(.text-animation-hover) {
                & span {
                    transform: translateY(0);
                    transition: transform var(--transitiontime) calc(var(--letteranimetime)/var(--letterlength)*var(--j) + var(--transitiontime)*3/4) ease;
                }
            }

            & hr {
                width: 100%;
                transition: width var(--transitiontime) calc(var(--transitiontime)*3/4) ease, background-color var(--colorchangetime) ease;
            }

            .skill-icon {
                .icon-wrapper {
                    & ion-icon {
                        transform: translateY(0);
                        transition: transform var(--transitiontime) calc(var(--transitiontime)*3/4) ease;
                    } 
                }
            }        

            .about-card-right {
                .skill-duration {
                    &::before {
                        width: 100%;
                        transition: width calc(var(--transitiontime))  calc(var(--transitiontime)*3/4) ease, background-color var(--colorchangetime) ease;
                    }
                }
            }

            &.hover-anime {
                box-shadow: var(--cardshadowsize) var(--cardshadowsize) var(--fontcolor);
                transition: transform 0s ease, box-shadow var(--transitiontime) ease, background-color var(--colorchangetime) ease, border var(--colorchangetime) ease;
    
                .text-animation-hover {
                    & span {
                        transform: translateY(0);
                        transition: transform var(--transitiontime) calc(var(--letteranimetime)/var(--letterlength)*var(--j) + var(--transitiongaptime)*var(--i)) ease;
                    }
                }
    
                .about-card-right {
                    .skill-duration {                        
                        &::after {
                            width: calc(var(--duration)*100%/2);
                            transition: width var(--transitiontime) calc(var(--transitiongaptime)*var(--i)) ease, background-color var(--colorchangetime) ease;
                        }
                        & p {
                            & span {
                                transition: transform var(--transitiontime) calc(var(--letteranimetime)/var(--letterlength)*var(--j) + var(--transitiongaptime)*var(--i)) ease;
                            }
                        }
                    }
                }
            }           
        }
    }
}

.about-card-right, .about-card-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: var(--cardpaddingsize);
    transition: background-color var(--colorchangetime) ease, color var(--colorchangetime) ease, border var(--colorchangetime) ease;
    
    & hr {
        width: 0;
        height: var(--borderweight);
        background-color: var(--fontcolor);
        border: none;
        border-radius: var(--borderweight);
        margin: var(--cardpaddingsize) 0;
        transition: width 0s 0s;
    }
}



.about-card-left {
    background-color: var(--fontcolor);
    color: var(--backgroundcolor);

    .about-card-item-title {
        border-color: var(--backgroundcolor);
    }

    & hr {
        background-color: var(--backgroundcolor);
    }

    .about-card-item {
        display: flex;
        flex-direction: column;

        & p {
            font-size: var(--ftext);
            margin-top: var(--cardpaddingsize);
        }

        &:nth-of-type(1) { 

            & p:nth-of-type(1), & p:nth-of-type(2) {
                font-size: var(--fmiddle);
                margin: 0;
            }
        }

        &:nth-of-type(2) {
            margin-top: var(--cardpaddingsize);
        }
    } 
}

.about-card-right {
    .skills {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .about-card-item {
        height: fit-content;
        margin: auto 0;
        display: flex;
        align-items: center;
        padding-right: calc(var(--cardpaddingsize)*2);
    }
    .skill-title {
        font-size: var(--ftext);
        margin-bottom: var(--cardpaddingsize);
    }
    .skill-icon {        
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: calc(var(--cardpaddingsize)*2);

        .icon-wrapper {
            margin-bottom: calc(var(--cardpaddingsize)/3);
            font-size: var(--fmiddle);
            display: flex;
            overflow: hidden;

            & ion-icon {
                transform: translateY(100%);
                transition: transform 0s 0s;
                will-change: transform;
            }
        }
    }
    .skill-duration {
        position: relative;
        height: var(--borderweight);
        width: 100%;

        &::after {
            content: "";
            position: absolute;
            height: 300%;
            top: 50%;
            width: 0%;
            left: 0;
            transform: translateY(-50%);
            background-color: var(--fontcolor);
            border-radius: calc(var(--borderweight)*3);
            transition: width var(--transitiontime) 0s ease;
        }

        &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 0;
            top: 0;
            left: 0;
            background-color: var(--fontcolor);
            border-radius: var(--borderweight);
            transition: width 0s 0s;
        }

        & p {
            position: absolute;
            bottom: 400%;
            left: calc(var(--duration)*100%/2);
            font-size: var(--ftext);
            transform: translateX(-50%);
            transition: left var(--transitiontime) 0s ease;
        }
    }
}



/* 問い合わせ */
.contact-card-button {
    .card-button-outer {
        width: 230%;
    }
}




/* フッター */
footer {
    position: relative;
    height: var(--footersize);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10vw;
    
    .copyright {
        font-size: var(--ftext);
    }

    .text-animation {
        display: flex;
        overflow: hidden;

        & span {
            transform: translateY(100%);
            transition: transform 0s 0s;
        }

        &.fade-in {
            & span {
                transform: translateY(0);
                transition: transform var(--transitiontime) calc(var(--letteranimetime)/var(--letterlength) * var(--j)) ease;
            }
        }
    }
}



@media screen and (max-width: 768px) {
    :root {
        --ftext: 1.5rem;
    }
    .loading-window {
        background-color: var(--fontcolor);
    }
    .cover-window {
        display: none;
    }

    header {
        display: none;
    }

    .side-menu {
        & nav {
            clip-path: none;
            background-color: var(--fontcolor);
            padding: 0;

            &::after {
                display: none;
            }

            & ul {
                & li {
                    &:hover {
                        .cover-text {
                            clip-path: none;
                        }
                    }
                }
            }
        }

        .side-button-icon {
            .side-button-icon-wrapper {
                transform: rotateX(0);
            }
        }

        .site-top-button {
            left: var(--sidebuttonsize);
        }
        .humburger-menu-icon {
            right: calc(var(--sidebuttonsize));
        }
        .page-top-arrow, .site-top-button-detection {
            display: none;
        }

        &.active {
            & nav {
                right: 0;
            }
        }
    }

    main{
        .main-top {
            .main-top-text {
                &.main-top-text-sp {
                    display: flex;
                    align-items: flex-start;
                }

                &.main-top-text-pc {
                    display: none;
                }

                & h1, p {
                    font-size: calc(var(--fmiddle)*1.2);
                }
            }
        }
    }
    @keyframes pathmove{
        0%{
            height:0;
            top:100%;
            opacity: 0;
        }
        50%{
            height: 3rem;
            opacity: 1;
            top: calc(100% + 1rem);
        }
        100%{
            height:0;
            opacity: 0;
            top: calc(100% + 4rem);
        }
    }

    section {
        padding: calc(var(--sectionmarginsize)/2) 0;

        .main-wrapper-title {
            margin-bottom: var(--cardmarginsize);
        }
    }

    .card-button-wrapper {
        flex-direction: column;
        margin-top: 0;

        .card-button {
            margin-bottom: var(--cardmarginsize);

            &.fade-in {
                transition: transform var(--transitiontime) 0s ease;
                
                .card-button-face-wrapper {
                    transition: opacity var(--transitiontime) 0s ease;
                }
            }
        }
    }

    .about-card-button {
        aspect-ratio: 1/2.9;
        
        .card-button-outer {
            width: 100%;
            flex-direction: column;

            .about-card-right, .about-card-left {
                width: var(--cardwidth);
                height: 50%;
            }
        }

        &.fade-in {
            .text-animation-hover {
                & span {
                    transform: translateY(0);
                    transition: transform var(--transitiontime) calc(var(--letteranimetime)/var(--letterlength)*var(--j) + var(--transitiontime)*3/4) ease;
                }
            }

            .about-card-right {
                .skill-duration {                        
                    &::after {
                        width: calc(var(--duration)*100%/2);
                        transition: width var(--transitiontime) calc(var(--transitiontime)*3/4) ease, background-color var(--colorchangetime) ease;
                    }
                    & p {
                        & span {
                            transition: transform var(--transitiontime) calc(var(--letteranimetime)/var(--letterlength)*var(--j) + var(--transitiontime)*3/4) ease;
                        }
                    }
                }
            }
        }
    }

    .contact-card-button {
        .card-button-outer {
            width: 100%;
        }
    }

    footer {
        height: fit-content;
        flex-direction: column;
        justify-content: flex-start;

        & ul{
            margin: var(--cardpaddingsize) 0;
            position: relative;
            flex-direction: column;
            right: 0;
            
            & li {
                margin: 0;

                &:hover {
                    .nv-button-wrapper {
                        transform: rotateX(0);
                    }
                }
            }
        }

        .copyright {
            margin-bottom: var(--cardpaddingsize);
        }
    }
}

