html {
    font-size: 62.5%;
}

:root {
    --basewindowsize: calc(1920*1);
    --vwratio: calc(100vw/var(--basewindowsize));

    --backgroundcolor: antiquewhite;
    --fontcolor: #051428;


    --ftext: clamp(1.8rem, calc(18*var(--vwratio)), calc(18*var(--vwratio)));
    --ftitle: 23vh;
    /* --fbig: calc(var(--ftext)*10/1.8); */
    --fmiddle: calc(var(--ftext)*3);
    --fsmall: calc(var(--ftext)*2);

    --borderweight: .3rem;
    --textborderweight: .15rem;

    --sidebuttonsize: calc(var(--ftext)*3);
    --cardwidth: calc(var(--ftext)*20);
    --cardshadowsize: calc(var(--cardwidth)*.05);
    --footersize: 20vh;

    --sectionmarginsize: calc(var(--ftext)*7);
    --cardpaddingsize: calc(var(--ftext)*1.5);
    --cardmarginsize: calc(var(--ftext)*1.4);

    --turntime: .3s;
    --letteranimetime: .3s;
    --transitiongaptime: .1s;
    --transitiontime: .4s;
    --colorchangetime: .5s;
    --openinganimetime: .6s;
}

:root[theme = "default"] {
    --backgroundcolor: antiquewhite;
    --fontcolor: #051428;
}

:root[theme = "dark"] {
    --backgroundcolor: #051428;
    --fontcolor: antiquewhite;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select:none;
}

.no-scroll {
    overflow: hidden;
}

body {
    font-family: sans-serif;
    letter-spacing: .05rem;
    background-color: var(--backgroundcolor);
    color: var(--fontcolor);
    transition-timing-function: ease;
    transition: background-color var(--colorchangetime) ease, color var(--colorchangetime) ease;
}
body.active {
    background-color: var(--fontcolor);
    color: var(--backgroundcolor);
}

.mouse-hover-item {
    cursor: pointer;
}

a{
    text-decoration: none;
    color: var(--fontcolor);
}

span {
    display: block;
}

li {
    list-style-type: none;
}

hr {
    border: none;
}

/* ローディング */
.loading {
    opacity: 0;
}
.loaded-anime {
    transition: opacity var(--transitiontime) ease;
}

.cover-window {
    position: fixed;
    z-index: 4;
    height: 100vh;
    width: 100vw;
    top: 0%;
    left: -100%;
    background-color: #fff;
    mix-blend-mode: difference;
    clip-path: polygon(0% 0%, 100% 0%, 88% 100%, 0% 100%);
    transition: left var(--transitiontime) ease;

    &.nav-open {
        left: -44%;
    }
}

.loading-window {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    height: 100lvh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fontcolor);
    color: var(--backgroundcolor);
    font-size: var(--ftitle);
    transition: left var(--openinganimetime) calc(var(--openinganimetime)*2) ease;

    & p {
        opacity: 0;
    }

    &.active {
        left: -100%;

        & p {
            animation: loadedAnime calc(var(--openinganimetime)*2) forwards;
        }
    }
}
@keyframes loadedAnime {
    0% {opacity: 0;}
    25% {opacity: 1;}
    75% {opacity: 1;}
    100% {opacity: 0;}
}

/* ナビゲーションリンクリンク */
header, footer {
    & nav {
        position: absolute;
        z-index: 5;
        right: 10%;
    
        & ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: var(--cardmarginsize);

            .nav-button-sp {
                display: none;
            }
            
            & li {
                padding: .5vmax 0;
                display: flex;
                perspective: calc(var(--sidebuttonsize)*10);
    
                .nv-button-wrapper {
                    position: relative;
                    height: var(--sidebuttonsize);
                    aspect-ratio: 2.5/1;
                    transform-style: preserve-3d;
                    font-size: var(--ftext);
                    font-weight: bold;
                    transition: transform var(--transitiontime) ease;
    
                    .nv-button-face {
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        backface-visibility: hidden;
                        border: var(--borderweight) solid var(--fontcolor);
                        background-color: var(--backgroundcolor);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: border var(--colorchangetime) ease, background-color var(--colorchangetime) ease;
    
                    }
                    .nv-button-front {
                        transform: translateZ(calc(var(--sidebuttonsize)/2));
                    }
                    .nv-button-bottom {
                        transform: translateY(calc(var(--sidebuttonsize)/2)) rotateX(-90deg);
                    }
                }
    
                &:hover {
                    .nv-button-wrapper {
                        transform: rotateX(90deg);
                    }
                }
            }
        }
    } 
}

header {
    nav {
        top: calc(var(--footersize)/2);
        transform: translateY(-50%);

        
        & ul {
            .text-animation {
                display: flex;
                overflow: hidden;
                
                & span {
                    transform: translateY(0);
                    transition: transform var(--transitiontime) calc(var(--letteranimetime) - var(--letteranimetime)/var(--letterlength) * var(--j)) ease;
                }
    
                &.fade-out{
                    & span {
                        transform: translateY(-100%);
                        transition: transform 0s 0s;
                    }
                }
            }
        }
    }

    &.loading {
        & ul {
            .text-animation {
                & span {
                    transform: translateY(100%);
                }
            }
        }
    }

    &.loaded {
        & ul {
            .text-animation {
                & span {
                    transition: transform var(--transitiontime) calc(var(--transitiontime)*3/4 + var(--letteranimetime)/var(--letterlength) * var(--j) + var(--transitiongaptime)*var(--i)) ease;
                }
            }
        }
    }
}

footer {
    position: relative;
    height: var(--footersize);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10vw;
    
    .copyright {
        font-size: var(--ftext);
    }

    .text-animation {
        display: flex;
        overflow: hidden;

        & span {
            transform: translateY(100%);
            transition: transform 0s 0s;
        }

        &.fade-in {
            & span {
                transform: translateY(0);
                transition: transform var(--transitiontime) calc(var(--letteranimetime)/var(--letterlength) * var(--j)) ease;
            }
        }
    }

    nav {
        bottom: calc(var(--footersize)/2);
        transform: translateY(50%);
    }
}



.side-menu {
    /* ハンバーガーメニュー */
    .menu-wrapper {
        display: none;
    }

    & nav {
        position: fixed;
        z-index: 10;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 100vw;
        background-color: var(--backgroundcolor);
        clip-path: polygon(12% 0%, 100% 0%, 100% 100%, 0% 100%);
        padding: 0 44vw 0 calc(100vw*12/100);
        transition: right var(--transitiontime) ease, background-color var(--colorchangetime) ease;
        display: flex;
        justify-content: center;
        align-items: center;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: var(--fontcolor);
            clip-path: polygon(calc(12% + var(--borderweight)) 0%, 100% 0%, 100% 100%, var(--borderweight) 100%);
            transition: background-color var(--colorchangetime) ease;
        }

        & ul {
            z-index: 11;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            & li {
                position: relative;
                display: flex;
                margin: calc(var(--cardpaddingsize)) 0;

                & p {
                    display: flex;
                    font-size: var(--fmiddle);
                    font-weight: bold;
                    color: var(--backgroundcolor);
                    -webkit-text-stroke: var(--textborderweight) var(--backgroundcolor);
                    overflow: hidden;
                    transition: color var(--colorchangetime) ease, -webkit-text-stroke var(--colorchangetime) ease;

                    & span {
                        transform: translateY(100%);
                        transition: transform 0s var(--transitiontime) ease;
                    }
                }
                .cover-text {
                    position: absolute;
                    color: var(--fontcolor);
                    clip-path: inset(0);
                    transition: clip-path var(--transitiontime) ease, color var(--colorchangetime) ease, -webkit-text-stroke var(--colorchangetime) ease;
                }

                &:hover {
                    .cover-text {
                        clip-path: inset(0 0 0 100%);
                    }
                }
            }
        }
    
    }

    /* サイドボタン共通 */
    .side-button-icon {
        position: fixed;
        perspective: calc(var(--sidebuttonsize)*10);
        transition: opacity calc(var(--transitiontime)/2) ease, top 0s calc(var(--transitiontime)/2);
        padding: .8vmax 0;
        
        .side-button-icon-wrapper {
            position: relative;
            height: var(--sidebuttonsize);
            aspect-ratio: 1;
            transform-style: preserve-3d;
            transform: rotateX(-90deg);
            transition: transform var(--transitiontime) ease;

            .side-button-icon-face {
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: var(--backgroundcolor);
                backface-visibility: hidden;
                border: var(--borderweight) solid var(--fontcolor);
                padding: 10%;
                transition: border var(--colorchangetime) ease, background-color var(--colorchangetime) ease;
            }

            .side-button-icon-top {
                transform: translateY(calc(-1*var(--sidebuttonsize)/2)) rotateX(90deg);
                transition: background-color var(--colorchangetime) ease, border var(--colorchangetime);
            }

            .side-button-icon-front {
                transform: translateZ(calc(var(--sidebuttonsize)/2));
            }
            .side-button-icon-bottom {
                transform: translateY(calc(var(--sidebuttonsize)/2)) rotateX(-90deg);
            }
        }
        
        & span {
            position: absolute;
            height: var(--borderweight);
            width: 80%;
            background-color: var(--fontcolor);
            border-radius: var(--borderweight);
        }

        &.fade-in {
            .side-button-icon-wrapper {
                transform: rotateX(0);
            }

            &:hover {
                .side-button-icon-wrapper {
                    transform: rotateX(90deg);
                }
            }
        }
    }

    .site-top-button {
        z-index: 15;
        top: calc(var(--footersize)/2);
        left: 5%;
        transform: translate(-50%, -50%);
        
        .side-button-icon-wrapper {
            transform: rotateX(0);
            
            .side-button-icon-face {
                font-size: var(--fsmall);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    
    /* ハンバーガーメニューボタン */
    .humburger-menu-icon {
        z-index: 15;
        top: calc(var(--footersize)/2);
        right: 5%;
        transform: translate(50%, -50%);

        .side-button-icon-wrapper {
            & span {
            left: 50%;
                transform: rotateZ(0deg) translate(-50%, -50%);
                transform-origin: 0 0;
                transition: top calc(var(--transitiontime)/2) calc(var(--transitiontime)/2), transform calc(var(--transitiontime)/2) 0s, background-color var(--colorchangetime) ease;
                will-change: top, transform, width;
        
                &:nth-child(1) {top: 40%;}
                &:nth-child(2) {top: 60%;}
            }

            .side-button-icon-top {
                background-color: var(--fontcolor);
            }
        }
    }
    
    /* ページトップボタン */
    .page-top-arrow {
        z-index: 5;
        top: calc(100% - var(--footersize)/2);
        right: 5%;
        transform: translate(50%, -50%);

        .side-button-icon-face {
            & span {
                bottom: 10%;
                transition: background-color var(--colorchangetime) ease;
                
                &:nth-child(1) {
                    transform: rotate(-60deg);
                    transform-origin: left;
                }
                &:nth-child(2) {
                    transform: rotate(60deg);
                    transform-origin: right;
                }
            }

            &:nth-of-type(1) {
                & span {
                    top: 10%;

                    &:nth-child(1) {
                        transform: rotateZ(60deg);
                    }
                    &:nth-child(2) {
                        transform: rotateZ(-60deg);
                    }
                }
            }
        }
    }

    &.active {
        & nav {
            right: -44%;

            & p {
                & span {
                    transform: translateY(0);
                    transition: transform var(--transitiontime) calc(var(--letteranimetime)/var(--letterlength) * var(--j) + var(--transitiontime)*3/4 + var(--transitiongaptime)*var(--i)) ease;
                }
            }
        } 

        .humburger-menu-icon {
            .side-button-icon-face {
                & span {
                    top: 50%;
                    transition: top calc(var(--transitiontime)/2) 0s, transform calc(var(--transitiontime)/2) calc(var(--transitiontime)/2), background-color var(--colorchangetime) ease, width 0s calc(var(--transitiontime)/2);
        
                    &:nth-child(1) {transform: rotateZ(45deg) translate(-50%, -50%);}
                    &:nth-child(2) {transform: rotateZ(-45deg) translate(-50%, -50%);}
                }
            }
        } 

        .page-top-arrow {
                top: -100%;
                transition: top 0s var(--transitiontime);
        }
    } 
}




/* メインコンテンツ */
main {
    & section {
        position: relative;
        z-index: 1;
        width: 100vw;
        padding: var(--sectionmarginsize) 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .main-wrapper-title {
            display: flex;
            flex-direction: column;
            align-items: center;

            .text-animation {
                height: fit-content;
                overflow: hidden;
                display: flex;

                & span {
                    transform: translateY(100%);
                    transition: transform 0s ease;
                }

                &.fade-in {
                    & span {
                        transform: translateY(0);
                        transition: transform var(--transitiontime) calc(var(--letteranimetime)/var(--letterlength)*var(--j)) ease;
                    }
                }
            }

            & h2 {
                font-size: var(--fmiddle);
                font-weight: bold;
            }

            & p {
                font-size: var(--ftext);
            }
        }
    }

    .main-top {
        height: 100vh;
        margin-bottom: calc(var(--sectionmarginsize));
        align-items: flex-start;
        justify-content: flex-end;
        padding: 5vh 10%;

        .main-top-text {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;

            .text-animation {
                overflow: hidden;
                display: flex;
    
                & span {
                    transform: translateY(0);
                    transition: transform var(--transitiontime) calc(var(--letteranimetime) - var(--letteranimetime)/var(--letterlength) * var(--j)) ease;
                }
    
                &.fade-out{
                    & span {
                        transform: translateY(-100%);
                        transition: transform 0s 0s;
                    }
                }
            }

            .text-line-sp {
                display: none;
            }
            
            & h1, & p {
                font-size: var(--ftitle);
                font-weight: bold;
                line-height: 1;
                letter-spacing: 0;
            }
    
            & p {
                color: var(--backgroundcolor);
                -webkit-text-stroke: var(--borderweight) var(--fontcolor);
                transition: color var(--colorchangetime) ease, -webkit-text-stroke var(--colorchangetime) ease;
            }
        }
    }

    &.loading {
        .main-top {
            .text-animation {
                & span {
                    transform: translateY(100%);
                }
            }
        }
    }

    &.loaded {
        .main-top {
            .text-animation {
                & span {
                    transition: transform var(--transitiontime) calc(var(--transitiontime)*3/4 + var(--openinganimetime)/var(--letterlength) * var(--j) + var(--transitiongaptime)*var(--i)) ease;
                }
            }
        }
    }
}

/* セクションライン */
.section-line {
    position: absolute;
    top: calc(-1*var(--borderweight));
    left: 50%;
    transform: translateX(-50%);
    height: var(--borderweight);
    width: 0vw;
    background-color: var(--fontcolor);
    border-radius: var(--borderweight);
    transition: background-color var(--colorchangetime) ease,  width 0s;

    &.fade-in {
        width: 80vw;
        transition: background-color var(--colorchangetime) ease, width var(--transitiontime) ease;
    }
}



/* カード共通スタイル */
.card-button-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--sectionmarginsize);
    perspective: 1920px;
}
.card-button {
    position: relative;
    width: var(--cardwidth);
    aspect-ratio: 1/1.45;
    margin: 0 var(--cardmarginsize);
    display: flex;
    transform: translateY(calc(var(--cardwidth)/2)) scale(.85) rotateX(-45deg);
    transform-origin: top;
    transition: transform 0s 0s ease;
    will-change: transform;

    .card-button-face-wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        perspective: 1980px;
        opacity: 0;
        transition: opacity 0s ease;

        .card-button-face {
            position: absolute;
            height: 100%;
            border: var(--borderweight) solid var(--fontcolor);
            background-color: var(--backgroundcolor);
            color: var(--fontcolor);
            backface-visibility: hidden;
            overflow: hidden;
        }
    }

    &.fade-in {
        transform: translateY(0) scale(1) rotateX(0);
        transition: transform var(--transitiontime) calc(var(--i)*var(--transitiongaptime)) ease;
    
        .card-button-face-wrapper {
            opacity: 1;
            transition: opacity var(--transitiontime) calc(var(--i)*var(--transitiongaptime)) ease;
        }
    }
}
.card-button-sp {
    display: none;
}




/* worksエリア */
.works-card-button {
    .card-button-face {
        width: 100%;
        padding: var(--cardpaddingsize);
        box-shadow: 0 0 var(--fontcolor);
        transition: transform var(--transitiontime) ease, box-shadow var(--transitiontime) ease, background-color var(--colorchangetime) ease, color var(--colorchangetime) ease, border var(--colorchangetime) ease;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .works-card-item {
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .works-card-image {
            position: relative;
            width: 100%;
            aspect-ratio: 4/3;
            margin-bottom: var(--cardpaddingsize);
            border: var(--borderweight) solid var(--fontcolor);
            box-shadow: inset calc(var(--cardshadowsize)/2) calc(var(--cardshadowsize)/2) var(--fontcolor);
            transition: border var(--colorchangetime) ease, box-shadow var(--colorchangetime) ease;
            
            &::after {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                right: 0;
                background-color: var(--fontcolor);
                transition: width 0s 0s;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        .text-animation {
            display: flex;
            overflow: hidden;

            & span {
                transform: translateY(100%);
                transition: transform 0s 0s;
            }
        }

        .icon-animation {
            display: flex;
            overflow: hidden;

            & ion-icon {
                transform: translateY(100%);
                transition: transform 0s 0s;
                will-change: transform;
            }
        }

        .works-card-visit-button {
            display: none;
        }

        .works-card-icon {
            & ion-icon {
                font-size: var(--fmiddle);
            }
        }

        .works-card-title {
            position: relative;
            flex-direction: column;

            & h3, & p {
                font-size: var(--fmiddle);
                font-weight: bold;
                white-space: nowrap;
                -webkit-text-stroke: var(--textborderweight) var(--fontcolor);
                transition: -webkit-text-stroke var(--colorchangetime) ease;
                line-height: 1.5;
            }
            .cover-text {
                position: absolute;
                color: var(--backgroundcolor);
                clip-path: inset(0);
                transition: clip-path var(--transitiontime) ease, -webkit-text-stroke var(--colorchangetime) ease, color var(--colorchangetime) ease;
            }
        }

        .works-card-text {
            flex-direction: column;
            font-size: var(--ftext);
            line-height: 1.8;
        }

        &.hover-anime {
            box-shadow: var(--cardshadowsize) var(--cardshadowsize) var(--fontcolor);
            transition: transform 0s ease, box-shadow var(--transitiontime) ease, background-color var(--colorchangetime) ease, color var(--colorchangetime) ease, border var(--colorchangetime) ease;

            .works-card-title {
                .cover-text {
                    clip-path: inset(0 0 0 100%);
                }
            }
        }
    }

    &.fade-in {
        .card-button-face {
            .works-card-image {
                &::after {
                    width: 0%;
                    transition: width var(--transitiontime) calc(var(--transitiontime)*3/4 + var(--transitiongaptime)*var(--i)) ease;
                }
            }

            .text-animation {
                & span {
                    transform: translateY(0);
                    transition: transform var(--transitiontime) calc(var(--letteranimetime)/var(--letterlength)*var(--j) + var(--transitiontime)*3/4 + var(--transitiongaptime)*var(--i)) ease;
                }
            }

            .icon-animation {
                & ion-icon {
                    transform: translateY(0);
                    transition: transform var(--transitiontime) calc(var(--transitiontime)*3/4 + var(--transitiongaptime)*var(--i)) ease;
                }
            }
        }
    }

    .card-button-outer:hover {
        & h3::after {
            clip-path: inset(0 0 0 100%);
        }
    }
}



/* 自己紹介 */
.about-card-button {
    .card-button-outer {
        width: 220%;
        font-size: var(--ftext);
        display: flex;
        white-space: nowrap;

        .text-animation {
            display: flex;
            overflow: hidden;

            & span {
                transform: translateY(100%);
                transition: transform 0s 0s;
            }
        }

        .text-animation-hover {
            & span {
                transition: transform var(--transitiontime) 0s ease;
            }
        }

        .about-card-right, .about-card-left {
            width: 50%;
            display: flex;
            flex-direction: column;
            padding: var(--cardpaddingsize);
            transition: background-color var(--colorchangetime) ease, color var(--colorchangetime) ease, border var(--colorchangetime) ease;
            
            & hr {
                width: 0;
                height: var(--borderweight);
                background-color: var(--fontcolor);
                border: none;
                border-radius: var(--borderweight);
                margin: var(--cardpaddingsize) 0;
                transition: width 0s 0s;
            }
        }
        
        .about-card-left {
            background-color: var(--fontcolor);
            color: var(--backgroundcolor);
        
            & hr {
                background-color: var(--backgroundcolor);
            }
        
            .about-card-item {
                line-height: 1.8;
                display: flex;
                flex-direction: column;
        
                & p {
                    font-size: var(--ftext);
                }
        
                &:nth-of-type(1) { 
                    .about-card-item-name {
                        & p {
                            font-size: var(--fmiddle);
                            line-height: 1.2;
                        }
                    }
                }
        
                &:nth-of-type(2) {
                    margin-top: var(--cardpaddingsize);
                    
                    & p:nth-of-type(1) {
                        font-size: var(--fsmall);
                    }
                }
            } 
        }
        
        .about-card-right {
            .skills {
                height: 100%;
                display: flex;
                flex-direction: column;
    
                .about-card-item {
                    height: fit-content;
                    margin: auto 0;
                    display: flex;
                    align-items: center;
                    padding-right: var(--cardpaddingsize);
    
                    .skill-icon {        
                        width: 20%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-right: calc(var(--cardpaddingsize)*1.5);
                
                        .icon-wrapper {
                            margin-bottom: calc(var(--cardpaddingsize)/5);
                            font-size: var(--fmiddle);
                            display: flex;
                            overflow: hidden;
                
                            & ion-icon {
                                transform: translateY(100%);
                                transition: transform 0s 0s;
                                will-change: transform;
                            }
                        }
                    }
                    
                    .skill-duration {
                        position: relative;
                        height: var(--borderweight);
                        width: 100%;
                
                        &::after {
                            content: "";
                            position: absolute;
                            height: 300%;
                            top: 50%;
                            width: 0%;
                            left: 0;
                            transform: translateY(-50%);
                            background-color: var(--fontcolor);
                            border-radius: calc(var(--borderweight)*3);
                            transition: width var(--transitiontime) 0s ease;
                        }
                
                        &::before {
                            content: "";
                            position: absolute;
                            height: 100%;
                            width: 0;
                            top: 0;
                            left: 0;
                            background-color: var(--fontcolor);
                            border-radius: var(--borderweight);
                            transition: width 0s 0s;
                        }
                
                        & p {
                            position: absolute;
                            bottom: 400%;
                            left: calc(var(--duration)*100%/1.5);
                            font-size: var(--ftext);
                            transform: translateX(-50%);
                            transition: left var(--transitiontime) 0s ease;
                        }
                    }
                }
            }
        }
    }
    

    &.fade-in {
        .card-button-outer {
            box-shadow: 0 0 var(--fontcolor);
            transition: transform var(--transitiontime) ease, box-shadow var(--transitiontime) ease, background-color var(--colorchangetime) ease, border var(--colorchangetime) ease;

            .text-animation:not(.text-animation-hover) {
                & span {
                    transform: translateY(0);
                    transition: transform var(--transitiontime) calc(var(--letteranimetime)/var(--letterlength)*var(--j) + var(--transitiontime)*3/4) ease;
                }
            }

            & hr {
                width: 100%;
                transition: width var(--transitiontime) calc(var(--transitiontime)*3/4) ease, background-color var(--colorchangetime) ease;
            }

            
            .about-card-right {
                .skills {
                    .about-card-item {
                        .skill-icon {
                            .icon-wrapper {
                                & ion-icon {
                                    transform: translateY(0);
                                    transition: transform var(--transitiontime) calc(var(--transitiontime)*3/4) ease;
                                } 
                            }
                        }

                        .skill-duration {
                            &::before {
                                width: 100%;
                                transition: width calc(var(--transitiontime))  calc(var(--transitiontime)*3/4) ease, background-color var(--colorchangetime) ease;
                            }
                        }
                    }
                }
            }

            &.hover-anime {
                box-shadow: var(--cardshadowsize) var(--cardshadowsize) var(--fontcolor);
                transition: transform 0s ease, box-shadow var(--transitiontime) ease, background-color var(--colorchangetime) ease, border var(--colorchangetime) ease;
    
                .text-animation-hover {
                    & span {
                        transform: translateY(0);
                        transition: transform var(--transitiontime) calc(var(--letteranimetime)/var(--letterlength)*var(--j) + var(--transitiongaptime)*var(--i)) ease;
                    }
                }
    
                .about-card-right {
                    .skill-duration {                        
                        &::after {
                            width: calc(var(--duration)*100%/1.5);
                            transition: width var(--transitiontime) calc(var(--transitiongaptime)*var(--i)) ease, background-color var(--colorchangetime) ease;
                        }
                    }
                }
            }           
        }
    }
}



/* 問い合わせ */
.contact-card-button {
    .card-button-outer {
        width: 230%;
    }
}



/* スマホ用のスタイル */
@media screen and (max-width: 768px) {
    :root {
        --ftext: 4.3vw;
        /* --ftext: 16px; */
        --ftitle: 12vw;
        --fmiddle: 12vw;
        --fsmall: 7vw;

        --cardwidth: 80vw;
        --cardpaddingsize: 5vw;
    }
    .cover-window {
        display: none;
    }

    header, footer {
        & nav {
            position: relative;
            top: auto;
            bottom: auto;
            right: auto;
            transform: translateY(0);

            & ul {
                grid-template-columns: none;
                gap: var(--cardpaddingsize);

                .nav-button-sp {
                    display: flex;
                }
    
                & li {
                    padding: 0;
                    perspective: none;
    
                    &:hover {
                        .nv-button-wrapper {
                            transform: rotateX(0);
                        }
                    }
                }
            }
        }
    }

    header {
        position: absolute;
        top: 50%;
        display: flex;
        width: 100%;
        justify-content: center;
        
        & nav {
            margin-top: var(--cardmarginsize);
            & ul {
                grid-template-rows: repeat(3, 1fr);
                & li {
                    .nv-button-wrapper {
                        height: calc(var(--sidebuttonsize)*1.5);
                        width: 80vw;
                        aspect-ratio: unset;
                        font-size: var(--fsmall);
                    }
                }
            }
        }
    }

    footer {
        height: fit-content;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: var(--cardpaddingsize);

        .copyright {
            margin-top: var(--cardpaddingsize);
        }

        & nav {
            & ul {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
            }
        }
    }

    .side-menu {
        .menu-wrapper {
            position: fixed;
            z-index: 9;
            top: 0;
            left: -100%;
            height: 100%;
            width: 100%;
            background-color: rgba(255, 255, 255, 0);
            backdrop-filter: blur(0px);
            -webkit-backdrop-filter: blur(0px);
            display: flex;
            transition: left 0s var(--transitiontime), backdrop-filter var(--transitiontime) 0s ease, -webkit-backdrop-filter var(--transitiontime) 0s ease;
        }

        & nav {
            clip-path: none;
            padding: 0;
            background-color: var(--fontcolor);
            &::after {
                display: none;
            }

            & ul {                
                & li {
                    border: var(--borderweight) solid var(--backgroundcolor);
                    height: calc(var(--sidebuttonsize)*1.5);
                    width: 80vw;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    & p {
                        -webkit-text-stroke: 0;
                        font-size: var(--fsmall);
                    }
                    .cover-text {
                        display: none;
                    }
                }
            }
        }

        .side-button-icon {
            perspective: none;
            padding: 0;
            transform: translate(0, 0);
            top: var(--cardpaddingsize);

            .side-button-icon-wrapper {
                transform: rotateX(0);
            }
        }

        .site-top-button {
            left: var(--cardpaddingsize);
        }
        .humburger-menu-icon {
            right: var(--cardpaddingsize);
        }
        .page-top-arrow, .site-top-button-detection {
            display: none;
        }

        &.active {
            .menu-wrapper {
                left: 0;
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                transition: left 0s 0s, backdrop-filter var(--transitiontime) 0s ease, -webkit-backdrop-filter var(--transitiontime) 0s ease;
            }

            & nav {
                right: 0;
            }
        }
    }

    main{
        & section {
            padding: calc(var(--sectionmarginsize)/2) 0;
    
            .main-wrapper-title {
                margin-bottom: calc(var(--cardmarginsize)*2);
    
                & p {
                    font-size: var(--ftext);
                }
            }
        }

        .main-top {
            height: 100svh;
            padding: 0 10% 50svh;

            .main-top-text {
                .text-line-sp {
                    width: 80vw;
                    height: var(--borderweight);
                    background-color: var(--fontcolor);
                    display: flex;
                    border-radius: var(--borderweight);
                    margin: var(--cardpaddingsize) 0;
                    
                }
                & h1, & p {
                    line-height: 1.2;
                }
                & p {
                    -webkit-text-stroke: 0;
                    color: var(--fontcolor);
                }
            }
        }
    }


    .card-button-wrapper {
        flex-direction: column;
        margin-top: 0;

        .card-button {
            margin-bottom: var(--cardmarginsize);

            &.fade-in {
                transition: transform var(--transitiontime) 0s ease;
                
                .card-button-face-wrapper {
                    transition: opacity var(--transitiontime) 0s ease;
                }
            }
        }

        .card-button-sp {
            display: flex;
        }
    }

    .works-card-button {
        cursor: default;
        
        .card-button-face {
            align-items: flex-start;

            .works-card-item {
                align-items: flex-start;
                margin-left: 10%;
            }

            .works-card-image {
                box-shadow: none;
            }

            .works-card-visit-button {
                position: relative;
                width: 80%;
                padding: calc(var(--cardpaddingsize)/2) var(--cardpaddingsize);
                margin: 0 auto calc(var(--cardpaddingsize)/2);
                border: var(--borderweight) solid var(--fontcolor);
                background-color: var(--fontcolor);
                color: var(--backgroundcolor);
                font-size: var(--fsmall);
                display: flex;
                font-weight: bold;
                cursor: pointer;
                transition: background-color var(--colorchangetime) ease, color var(--colorchangetime) ease, border var(--colorchangetime) ease;

                .icon-wrapper {
                    position: absolute;
                    right: var(--cardpaddingsize);
                }
            }

            .works-card-icon, .works-card-title {
                & ion-icon, & h3, & p {
                    font-size: var(--fsmall);
                    -webkit-text-stroke: 0;
                }
                .cover-text {
                    display: none;
                }
            }
        }
    }

    .about-card-button {
        .card-button-outer {
            width: 100%;

            .text-animation-hover {
                & span {
                    transition: transform 0s 0s;
                }
            }

            .about-card-right, .about-card-left {
                width: 100%;
            }
            .about-card-left {
                background-color: var(--backgroundcolor);
                color: var(--fontcolor);

                & hr {
                    background-color: var(--fontcolor);
                }
            }
            .about-card-right {
                .skills {
                    .about-card-item {
                        .skill-duration::after {
                            transition: width 0s 0s;
                        }
                    }
                }
            }
        }

        &.fade-in {
            .card-button-outer {
                .text-animation-hover {
                    & span {
                        transform: translateY(0);
                        transition: transform var(--transitiontime) calc(var(--letteranimetime)/var(--letterlength)*var(--j) + var(--transitiontime)*3/4) ease;
                    }
                }
    
                .about-card-right {
                    .skills {
                        .about-card-item {
                            .skill-duration {                        
                                &::after {
                                    width: calc(var(--duration)*100%/1.5);
                                    transition: width var(--transitiontime) calc(var(--transitiontime)*3/4) ease, background-color var(--colorchangetime) ease;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .contact-card-button {
        .card-button-outer {
            width: 100%;
        }
    }
}

